<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<!-- 因为大部分数据库相关配置已经在 spring的 applicationContext.xml中配置了，，所以单独的mybatis自己的配置就比较少了 ,可以配置别名-->
        
<configuration>
    <!--为com.alison.pojo.User设置别名 User 方便调用-->
    <typeAliases>
        <typeAlias alias="User" type="com.alison.pojo.User"/>
    </typeAliases>


</configuration>