<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.alison.mybatis.mapper.RoleMapper">

	<insert id="insertRole" parameterType="com.alsion.mybatis.pojo.Role">
		insert into t_role (role_name, note) values (#{role_name}, #{note})
	</insert>
	
	<delete id=""></delete>
	
	<update id=""></update>
	
	<select id=""></select>
	
	<select id=""></select>
	
</mapper>